@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;500;600;700&family=Prompt:wght@600;700;800&display=swap");
@import "tailwindcss";
@source "../src";


@theme {
  --font-sarabun: "Sarabun", sans-serif;
  --font-prompt: "Prompt", sans-serif;

  --animate-pop: pop-in 0.35s ease;

  /* Header */
  --height-header-h: 20rem;


  --keyframes-pop-in: {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    60% {
      transform: scale(1.03);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  };
}
